<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tekus.Frontend</a>
        <button title="Navigation menu"
                class="navbar-toggler"
                @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <MudNavMenu>

                <MudNavLink Href="/providers"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Business"
                            Color="Color.Primary">
                    Providers
                </MudNavLink>

                <MudNavLink Href="/summary"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Dashboard"
                            Color="Color.Primary">
                    Resumen
                </MudNavLink>

            </MudNavMenu>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}